#chart {
  width: 800px;
  height: 800px;
  background-color: #f7f7f7;
  margin: 25px auto;
  position: relative;
}

#tooltip {
  display: none;
  position: absolute;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fff;
  /* important to avoid line break inside tooltip that would affect mouse events (since area for event detection is covered*/
  white-space: nowrap;
}

#tooltip .metric-date {
  text-decoration: underline;
}

.axis {
  font-size: 18px;
  /* Property for SVG elements to define tradeoff between performance and accuracy https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/shape-rendering */
  shape-rendering: geometricPrecision;
}
